<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Types</key>
	<dict>
		<key>amusement_park</key>
		<true/>
		<key>aquarium</key>
		<true/>
		<key>art_gallery</key>
		<false/>
		<key>museum</key>
		<true/>
		<key>shopping_mall</key>
		<true/>
		<key>stadium</key>
		<true/>
		<key>zoo</key>
		<true/>
	</dict>
</dict>
</plist>
